In [1]:
from packaging import version

In [2]:
import pandas as pd

In [3]:
from scipy import stats

In [4]:
import tensorboard as tb

In [5]:
major_ver, minor_ver, _ = version.parse(tb.__version__).release
assert major_ver >= 2 and minor_ver >= 3, \
    "This notebook requires TensorBoard 2.3 or later."
print("TensorBoard version: ", tb.__version__)

TensorBoard version:  2.3.0

In [6]:
experiment_id = "cetz2E6GR8aQl3dfle1xxw"
experiment = tb.data.experimental.ExperimentFromDev(experiment_id)
df = experiment.get_scalars()
df

      run            tag  step     value
0       .  current_epoch     0  0.000000
1       .  current_epoch     1  0.012966
2       .  current_epoch     2  0.025932
3       .  current_epoch     3  0.038898
4       .  current_epoch     4  0.051864
...    ..            ...   ...       ...
21090   .           loss  7028  0.000039
21091   .           loss  7029  0.000607
21092   .           loss  7030  0.000030
21093   .         loss_1  7031  0.000030
21094   .         loss_2  7031  0.000030

[21095 rows x 4 columns]

In [7]:
# wall time is not part of the scalars reported in the host_call
df.groupby('tag').count()

                run  step  value
tag
current_epoch  7031  7031   7031
learning_rate  7031  7031   7031
loss           7031  7031   7031
loss_1            1     1      1
loss_2            1     1      1

In [8]:
df[df['tag']=='loss']

      run   tag  step     value
14062   .  loss     0  0.045571
14063   .  loss     1  0.046182
14064   .  loss     2  0.043621
14065   .  loss     3  0.023899
14066   .  loss     4  0.033657
...    ..   ...   ...       ...
21088   .  loss  7026  0.000555
21089   .  loss  7027  0.000044
21090   .  loss  7028  0.000039
21091   .  loss  7029  0.000607
21092   .  loss  7030  0.000030

[7031 rows x 4 columns]

In [10]:
experiment.get_tensors()

AttributeError: 'ExperimentFromDev' object has no attribute 'get_tensors'