José Luis García Nava
DEPFIE-SCOM
Cloud-based Implementation of Distributed Machine Learning Algorithms for Time Series Forecasting
Parquet Archive as Time Series Database Management System
Updated from MIRD-related research to Spark 3

In [4]:
# change timestamp from string to datetime
# from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import to_timestamp

In [22]:
SOURCE_PARQUET_PATH = '/home/developer/On_Premises/Data_Lake/complete_20160101000000_to_20180809114000'

In [23]:
DEST_PARQUET_PATH = '/home/developer/On_Premises/MIRD_ROOT/data/raw'

In [39]:
devices = ['CPE42015', 'CPE42025']

In [40]:
resolutions = ['ten_min', 'hourly', 'daily']

In [41]:
for device in devices:
    for resolution in resolutions:
        # build a path to the source Parquet archive, per device/resolution (it has multiple-date information)
        path = '{}/{}/{}.parquet'.format(SOURCE_PARQUET_PATH, resolution, device)
        # read the DataFrame into Spark
        raw_df = spark.read.parquet(path)
        # multidate_df is a Spark DataFrame with timestamp as datetime
        # use a Spark DataFrame operation instead of a Spark SQL query
        multidate_df = raw_df.select(to_timestamp(raw_df.timestamp, 'yyyy-MM-dd HH:mm:ss').alias('timestamp'),
                                     'Van', 'Vbn', 'Vcn', 'Vav', \
                                     'ia', 'ib', 'ic', 'iav', \
                                     'kw', 'kvar', 'kwan', 'kwbn', 'kwcn', 'kvaran', 'kvarbn', 'kvarcn', \
                                     'f', 'fp', 'thdvan', 'thdvbn', 'thdvcn', 'thdia', 'thdib', 'thdic', \
                                     'desbV', 'desbI', \
                                     'kwhE', 'kwhR', 'kvarhDel', 'kvarhrec', 'kvarhq3', 'kvarhq4')
    
        # create the temporary view on the Spark DataFrame
        multidate_df.createOrReplaceTempView('multidate_df_view')

        # a DataFrame with all the dates in the multidate DataFrame
        date_df = spark.sql('select substring(timestamp, 1, 10) as date \
                             from multidate_df_view \
                             group by substring(timestamp, 1, 10) \
                             order by substring(timestamp, 1, 10)')
    
        # all dates available for a given device/resolution, to an ordered list
        dates_list = date_df.rdd.map(lambda row : row.date).collect()
        dates_list.sort()

        # now iterate on dates, per device/resolution
        for date in dates_list:
            # build the query string, and change timestamp to string for persistence
            query_string = 'select string(timestamp) as timestamp, \
                                   Van, Vbn, Vcn, Vav, \
                                   ia, ib, ic, iav, \
                                   kw, kvar, kwan, kwbn, kwcn, kvaran, kvarbn, kvarcn, \
                                   f, fp, \
                                   thdvan, thdvbn, thdvcn, thdia, thdib, thdic, \
                                   desbV, desbI, \
                                   kwhE, kwhR, kvarhDel, kvarhrec, kvarhq3, kvarhq4 \
                            from multidate_df_view \
                            where substring(timestamp, 1, 10) = "{}" \
                            order by substring(timestamp, 1, 10)'.format(date)

            # get lectures of a single date from the original DataFrame
            buffer_df = spark.sql(query_string)
            # build a path to the directory where date-based parquet archives reside
            archive_string = '{}/{}/{}.parquet/{}'.format(DEST_PARQUET_PATH, resolution, device, date)
            # now persist buffer_df, with a given max number of partitions
            buffer_df.coalesce(2).write.parquet(archive_string)

In [16]:
# read some DataFrame to verify it
device = 'CPE04025'
resolution = 'daily'
date = '2017-03-10'

In [19]:
test_path = '{}/{}/{}.parquet/{}'.format(DEST_PARQUET_PATH, resolution, device, date)

In [20]:
test_df = spark.read.parquet(test_path)

In [21]:
# verify the persisted DataFrame
test_df.select('timestamp', 'kw', 'thdia').show(200)

+-------------------+-------+-----+
|          timestamp|     kw|thdia|
+-------------------+-------+-----+
|2017-03-10 00:00:00|512.734| 6.08|
|2017-03-10 00:10:00|498.602| 6.34|
|2017-03-10 00:20:00|485.091| 6.65|
|2017-03-10 00:30:00| 489.55| 6.32|
|2017-03-10 00:40:00|476.283| 6.61|
|2017-03-10 00:50:00|471.961|  6.7|
|2017-03-10 01:00:00|473.202| 6.49|
|2017-03-10 01:10:00|472.595| 6.32|
|2017-03-10 01:20:00|450.274| 6.45|
|2017-03-10 01:30:00|445.939| 6.64|
|2017-03-10 01:40:00|455.401| 6.62|
|2017-03-10 01:50:00| 464.06| 6.31|
|2017-03-10 02:00:00|451.797| 6.51|
|2017-03-10 02:10:00|452.021| 6.66|
|2017-03-10 02:20:00| 446.47| 6.62|
|2017-03-10 02:30:00|436.802| 6.83|
|2017-03-10 02:40:00|435.781| 6.82|
|2017-03-10 02:50:00|431.806| 6.77|
|2017-03-10 03:00:00|440.792| 6.93|
|2017-03-10 03:10:00|428.536| 7.31|
|2017-03-10 03:20:00|417.271| 7.56|
|2017-03-10 03:30:00|412.985| 7.72|
|2017-03-10 03:40:00|416.334| 7.51|
|2017-03-10 03:50:00|416.121| 7.33|
|2017-03-10 04:00:00|426.672|  7.3|
|2017-03-10 04:10:00|437.291| 6.93|
|2017-03-10 04:20:00|425.327| 7.16|
|2017-03-10 04:30:00|428.803| 7.05|
|2017-03-10 04:40:00|435.272| 6.85|
|2017-03-10 04:50:00|438.497|  7.0|
|2017-03-10 05:00:00| 433.52| 6.82|
|2017-03-10 05:10:00|434.514| 6.68|
|2017-03-10 05:20:00|436.864| 6.74|
|2017-03-10 05:30:00|433.429| 6.59|
|2017-03-10 05:40:00|429.443| 6.75|
|2017-03-10 05:50:00|444.161| 6.67|
|2017-03-10 06:00:00|464.381| 6.29|
|2017-03-10 06:10:00|473.201| 6.04|
|2017-03-10 06:20:00|488.397| 6.12|
|2017-03-10 06:30:00|511.283| 5.62|
|2017-03-10 06:40:00|517.576| 5.53|
|2017-03-10 06:50:00|512.561| 5.83|
|2017-03-10 07:00:00|491.388| 5.83|
|2017-03-10 07:10:00|484.973| 6.02|
|2017-03-10 07:20:00|482.813| 5.88|
|2017-03-10 07:30:00|498.537| 5.62|
|2017-03-10 07:40:00| 540.06| 5.59|
|2017-03-10 07:50:00| 546.34| 5.28|
|2017-03-10 08:00:00|585.182| 4.82|
|2017-03-10 08:10:00|645.328| 4.27|
|2017-03-10 08:20:00|637.265| 4.77|
|2017-03-10 08:30:00|671.475| 4.41|
|2017-03-10 08:40:00|685.666| 4.46|
|2017-03-10 08:50:00|684.769| 4.33|
|2017-03-10 09:00:00|683.644| 4.49|
|2017-03-10 09:10:00|704.141| 4.69|
|2017-03-10 09:20:00|749.443| 4.46|
|2017-03-10 09:30:00|755.456| 4.96|
|2017-03-10 09:40:00|770.181|  4.4|
|2017-03-10 09:50:00|815.097|  4.0|
|2017-03-10 10:00:00|791.414|  4.4|
|2017-03-10 10:10:00|800.804| 3.97|
|2017-03-10 10:20:00|775.233| 4.22|
|2017-03-10 10:30:00|773.488| 4.31|
|2017-03-10 10:40:00|759.914| 4.47|
|2017-03-10 10:50:00|775.316| 4.31|
|2017-03-10 11:00:00|771.669| 4.22|
|2017-03-10 11:10:00|765.395| 4.23|
|2017-03-10 11:20:00|794.924|  4.5|
|2017-03-10 11:30:00|789.523| 4.27|
|2017-03-10 11:40:00|800.833| 4.18|
|2017-03-10 11:50:00|809.874| 4.53|
|2017-03-10 12:00:00|822.721| 4.12|
|2017-03-10 12:10:00|811.042| 3.92|
|2017-03-10 12:20:00|828.494| 3.91|
|2017-03-10 12:30:00|816.786| 4.18|
|2017-03-10 12:40:00|835.155| 4.02|
|2017-03-10 12:50:00|822.429| 4.16|
|2017-03-10 13:00:00|821.117| 4.25|
|2017-03-10 13:10:00|826.678| 4.02|
|2017-03-10 13:20:00|807.534| 4.12|
|2017-03-10 13:30:00|809.377| 3.97|
|2017-03-10 13:40:00|835.406| 3.49|
|2017-03-10 13:50:00| 843.05| 3.72|
|2017-03-10 14:00:00|835.991| 3.74|
|2017-03-10 14:10:00|848.644| 3.59|
|2017-03-10 14:20:00|826.905| 3.47|
|2017-03-10 14:30:00|802.948|  4.0|
|2017-03-10 14:40:00|808.673| 3.56|
|2017-03-10 14:50:00|818.692|  3.5|
|2017-03-10 15:00:00|802.954| 3.67|
|2017-03-10 15:10:00|797.901| 3.76|
|2017-03-10 15:20:00|814.155| 3.41|
|2017-03-10 15:30:00|821.319| 3.44|
|2017-03-10 15:40:00|809.719| 3.56|
|2017-03-10 15:50:00|799.706| 3.55|
|2017-03-10 16:00:00|804.234|  3.6|
|2017-03-10 16:10:00|753.898| 3.83|
|2017-03-10 16:20:00|731.354| 4.11|
|2017-03-10 16:30:00|754.977|  3.9|
|2017-03-10 16:40:00|727.729| 3.94|
|2017-03-10 16:50:00| 717.55| 4.09|
|2017-03-10 17:00:00|745.465| 3.89|
|2017-03-10 17:10:00|721.869|  4.2|
|2017-03-10 17:20:00|717.818| 4.16|
|2017-03-10 17:30:00|728.908| 4.14|
|2017-03-10 17:40:00|716.136| 4.24|
|2017-03-10 17:50:00|723.994| 4.18|
|2017-03-10 18:00:00|713.774| 4.09|
|2017-03-10 18:10:00|735.659|  4.2|
|2017-03-10 18:20:00| 718.03| 4.16|
|2017-03-10 18:30:00|709.836| 4.48|
|2017-03-10 18:40:00|716.469| 4.52|
|2017-03-10 18:50:00|704.762| 4.37|
|2017-03-10 19:00:00|734.018| 4.34|
|2017-03-10 19:10:00|745.979| 4.19|
|2017-03-10 19:20:00|766.537| 3.86|
|2017-03-10 19:30:00|784.811| 3.75|
|2017-03-10 19:40:00|770.735| 4.11|
|2017-03-10 19:50:00|741.287| 4.31|
|2017-03-10 20:00:00|742.537| 4.33|
|2017-03-10 20:10:00|729.972| 4.33|
|2017-03-10 20:20:00|727.419| 4.32|
|2017-03-10 20:30:00|704.689| 4.34|
|2017-03-10 20:40:00|724.064| 4.28|
|2017-03-10 20:50:00|712.753|  4.4|
|2017-03-10 21:00:00|677.811| 4.82|
|2017-03-10 21:10:00|644.609| 4.99|
|2017-03-10 21:20:00|650.318| 4.86|
|2017-03-10 21:30:00|648.655| 4.94|
|2017-03-10 21:40:00|640.174| 4.96|
|2017-03-10 21:50:00|635.328| 5.05|
|2017-03-10 22:00:00|634.151| 5.04|
|2017-03-10 22:10:00|612.942| 5.23|
|2017-03-10 22:20:00|607.094| 5.23|
|2017-03-10 22:30:00|594.034|  5.5|
|2017-03-10 22:40:00|590.555| 5.56|
|2017-03-10 22:50:00|580.201| 5.61|
|2017-03-10 23:00:00|565.453| 5.79|
|2017-03-10 23:10:00|557.864| 5.72|
|2017-03-10 23:20:00|545.059| 5.82|
|2017-03-10 23:30:00| 544.12| 5.72|
|2017-03-10 23:40:00|534.952| 6.17|
|2017-03-10 23:50:00|534.395| 5.85|
+-------------------+-------+-----+

In [ ]:
# ToDo: trim this dataset to 2018-07-31 23:50:00 to adjust lenght to entire months